<div class="about-view">
  <h1>AXES FAQ</h1>
  
  <h2>What’s new?</h2>
  <p>What can I find through the AXES system? AXES allows you to directly search in audiovisual material with text and visual queries (“similarity search”). It is a search beyond metadata search.</p>

  <h2>What can be found?</h2>
  <p>The system can find people categories (e.g. a woman) or individuals (Angela Merkel); location categories (countryside) or specific places (Eifeltower); object categories (car) or specific objects (Mercedes logo or Italian flag); and event categories (mountain climbing).</p>

  <h2>What's in the database?</h2>
  <p>{{datasetInfo.description}}</p>

  <h2>What are the key features?</h2>

  <p>
    <ul>
    <li>The archive can be searched <strong>independent from available metadata</strong>: AXES is very useful for material which is poorly annotated, because it creates annotations on its own (ASR, Names, Persons, Places, Objects)</li>
    <li>AXES <strong>combines textual and visual search</strong></li>
    <li>AXES <strong>enables visual search</strong> (including similarity search) - whereas most digitised collections so far only let us search in texts.</li>
    <li>The visual search is <strong>language independent</strong> (“query by example”)</li>
    <li>AXES enables a <strong>keyframe based search</strong>. Results are connected to relevant images or sequences (no need of fast forwarding any more).</li>
    <li>AXES let us <strong>search for events</strong> </li>
    <li>AXES automatically <strong>suggests related content</strong></li>
    </ul>
  </p>
  
  
  <h2>What are pretrained objects?</h2>
  <p>Popular terms like house, cat or car were already “trained” into the system. Searches for these terms are much faster than “unknown” queries. 
  </p>
    
   </p>
  
  <h2>Does the system learn?</h2>
  <p>New terms are learned on-the-fly. Once computed, they're stored in the cache, so next time they need not be recomputed again. So, the same search will be much faster. (see also: Pretrained Objects)
  </p>

  <h2>What’s not in there?</h2>
  <p>Some features were not in the specific focus of the AXES project. These are:
    <ul>
    <li>multi keyword searches</li>
    <li>language independency in text searches</li>
    </ul>
  </p>

  <h2>Where can I use or download it?</h2>
  <p>Soon, there will be an online demo available. We also plan to publish a public version (Open AXES).</p>
</div>