<div class="search-view">
  
  <div class="search-type" ng-show="metaAvailable">
    <form class="search-form" novalidate ng-submit="searchMetadata()">
      <p><span class="icomatic">search</span> 
        <strong>Search the description:</strong> in titles, summaries, and other metadata</p>
      <input type="search" value="" ng-model="metadataSearchText"
        placeholder="Search metadata..." class="topcoat-search-input">
      <button type="submit" class="topcoat-button--quiet" >
        <span class="icomatic">next</span>
      </button>
      <p class="examples"><strong>Examples:</strong> Doctor Who, Top Gear</p>
    </form>
  </div>
  
  <div class="search-type" ng-show="speechAvailable">
    <form class="search-form" novalidate ng-submit="searchSpeech()">
      <p><span class="icomatic">search</span> 
        <strong>Search spoken words:</strong> in subtitles, transcripts, or auto-detected speech</p>
      <input type="search" value="" ng-model="speechSearchText"
        placeholder="Search spoken words..." class="topcoat-search-input">
      <button type="submit" class="topcoat-button--quiet" >
        <span class="icomatic">next</span>
      </button>
    </form>
  </div>
  
  <div class="search-type" ng-show="categoryAvailable">
    <form class="search-form" novalidate ng-submit="searchCategories()">
      <p><span class="icomatic">search</span> 
        <strong>Search visual categories:</strong> for broad terms and concepts</p>
    
      <input type="search" value="" ng-model="categorySearchText"
        placeholder="Search visual categories..." class="topcoat-search-input">
      <button type="submit" class="topcoat-button--quiet" >
         <span class="icomatic">next</span>
      </button>
      <p class="examples"><strong>Examples:</strong> cars, forest, landscape, skyscraper.</p>
    </form>
  </div>
  
  <div class="search-type" ng-show="faceAvailable">
    <form class="search-form" novalidate ng-submit="searchFaces()">
      <p><span class="icomatic">search</span> 
        <strong>Search visual faces:</strong> for faces and facial attributes</p>
    
      <input type="search" value="" ng-model="faceSearchText"
        placeholder="Search faces..." class="topcoat-search-input">
      <button type="submit" class="topcoat-button--quiet" >
        <span class="icomatic">next</span>
      </button>
      <p class="examples"><strong>Examples:</strong> Tony Blair, Jeremy Clarkson, sunglasses, moustache.</p>
    </form>
  </div>
  
  <div class="search-type" ng-show="instanceAvailable">
    <form class="search-form" novalidate ng-submit="searchInstances()">
      <p><span class="icomatic">search</span> 
        <strong>Search visual instances:</strong> for specific places and logos</p>
    
      <input type="search" value="" ng-model="instanceSearchText"
        placeholder="Search instances..." class="topcoat-search-input">
      <button type="submit" class="topcoat-button--quiet" >
        <span class="icomatic">next</span>
      </button>
      <p class="examples"><strong>Examples:</strong> London Bridge, bbc logo.</p>
    </form>
  </div>
</div>